/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1;
  margin: 0;
  padding: 0; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: "Asap Condensed Bold";
  src: url("/fonts/AsapCondensed-Bold.ttf") format("ttf");
  font-weight: "bold";
  font-style: "normal"; }
@font-face {
  font-family: "Asap Condensed Bold Italic";
  src: url("/fonts/AsapCondensed-BoldItalic.ttf") format("ttf");
  font-weight: "bold";
  font-style: "italic"; }
@font-face {
  font-family: "Asap Condensed Italic";
  src: url("/fonts/AsapCondensed-Italic.ttf") format("ttf");
  font-weight: "normal";
  font-style: "italic"; }
@font-face {
  font-family: "Asap Condensed Medium";
  src: url("/fonts/AsapCondensed-Medium.ttf") format("ttf");
  font-weight: "normal";
  font-style: "normal"; }
@font-face {
  font-family: "Asap Condensed Medium Italic";
  src: url("/fonts/AsapCondensed-MediumItalic.ttf") format("ttf");
  font-weight: "normal";
  font-style: "italic"; }
@font-face {
  font-family: "Asap Condensed Regular";
  src: url("/fonts/AsapCondensed-Regular.ttf") format("ttf");
  font-weight: "normal";
  font-style: "normal"; }
@font-face {
  font-family: "Asap Condensed SemiBold";
  src: url("/fonts/AsapCondensed-SemiBold.ttf") format("ttf");
  font-weight: "bold";
  font-style: "normal"; }
@font-face {
  font-family: "Asap Condensed SemiBold Italic";
  src: url("/fonts/AsapCondensed-SemiBoldItalic.ttf") format("ttf");
  font-weight: "bold";
  font-style: "italic"; }
@font-face {
  font-family: "Bebas Neue Bold (Opentype)";
  src: url("/fonts/BebasNeue-Bold.ttf") format("ttf");
  font-weight: "bold";
  font-style: "normal"; }
@font-face {
  font-family: "Bebas Neue Book";
  src: url("/fonts/BebasNeue-Book.ttf") format("ttf");
  font-weight: "normal";
  font-style: "normal"; }
@font-face {
  font-family: "Bebas Neue Light";
  src: url("/fonts/BebasNeue-Light.ttf") format("ttf");
  font-weight: "light";
  font-style: "normal"; }
@font-face {
  font-family: "Bebas Neue Regular";
  src: url("/fonts/BebasNeue-Regular.ttf") format("ttf");
  font-weight: "normal";
  font-style: "normal"; }
@font-face {
  font-family: "Bebas Neue Thin";
  src: url("/fonts/BebasNeue-Thin.ttf") format("ttf");
  font-weight: "light";
  font-style: "normal"; }
.bold-body {
  font-family: "Asap Condensed Bold";
  font-size: 1rem; }

.med-body {
  font-family: "Asap Condensed Medium";
  font-size: 1rem; }

.italic-body {
  font-family: "Asap Condensed Italic";
  font-size: 1rem; }

.bold-heading {
  font-family: "Bebas Neue Regular";
  font-weight: bold; }

.light-heading {
  font-family: "Bebas Neue Light"; }

.reg-heading {
  font-family: "Bebas Neue Regular"; }

.thin-heading {
  font-family: "Bebas Neue Thin"; }

html {
  font-family: "Asap Condensed Regular";
  font-size: 1rem;
  color: #000000; }

body {
  font-family: "Asap Condensed Regular";
  font-size: 1rem;
  color: #000000;
  background-color: #F2F2F2; }

h1 {
  font-family: "Bebas Neue Regular";
  font-size: 3rem;
  padding-bottom: 8%;
  padding-top: 2%; }

h2 {
  font-family: "Bebas Neue Regular";
  font-size: 2.5rem;
  padding-bottom: 8%;
  padding-top: 2%; }

h3 {
  font-family: "Bebas Neue Regular";
  font-size: 2rem;
  padding-bottom: 8%;
  padding-top: 2%; }

h4 {
  font-family: "Bebas Neue Regular";
  font-size: 1.8rem;
  padding-bottom: 8%;
  padding-top: 2%; }

h5 {
  font-family: "Bebas Neue Regular";
  font-size: 1.5rem;
  padding-bottom: 8%;
  padding-top: 2%; }

h6 {
  font-family: "Bebas Neue Regular";
  font-size: 1.3rem;
  padding-bottom: 8%;
  padding-top: 2%; }

div {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box: 1;
  -moz-box: 1;
  -webkit-flex: 1 0 auto;
  -ms-flexbox: 1 0 auto;
  flex: 1 0 auto; }

p {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -moz-box-direction: normal;
  -moz-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: column;
  -ms-flex-wrap: column;
  flex-wrap: column;
  margin: 10px;
  line-height: 1.2rem; }

a {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box: 1;
  -moz-box: 1;
  -webkit-flex: 1 0 auto;
  -ms-flexbox: 1 0 auto;
  flex: 1 0 auto;
  text-decoration: none;
  cursor: pointer;
  max-width: max-content; }
  a:link {
    color: #000000; }
  a:visited {
    color: #000000; }
  a:hover {
    color: #666666; }
  a:active {
    color: #666666; }

.btn, .btn-basic, .btn-modal {
  margin: 0 auto;
  font-family: "Bebas Neue Thin";
  font-size: 1.4rem;
  text-transform: uppercase;
  border: none;
  text-decoration: none;
  padding: 15px;
  border-radius: 6px;
  cursor: pointer;
  text-align: center;
  margin: 2px 4px;
  max-width: max-content; }

.btn-basic, .btn-modal {
  background-color: #BF0706;
  color: #F2F2F2;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s; }
  .btn-basic:hover, .btn-modal:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19); }

@media all and (max-width: 320px) {
  html,
  body {
    font-family: 0.8em;
    font-size: 1rem; } }
.box {
  border: 1px solid #000000; }

.badge span {
  color: #F2F2F2;
  background-color: #BF0706;
  border: 1px solid #BF0706;
  border-radius: 5%;
  min-width: max-content; }

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4); }

.modal-comp, .modal-light .modal-content .modal-header, .modal-light .modal-content .modal-body, .modal-light .modal-content .modal-footer {
  padding: 2px 16px; }

.modal-content-comp, .modal-light .modal-content {
  position: relative;
  margin: auto;
  padding: 0;
  border-radius: 6px;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-delay: none;
  -webkit-animation-duration: 0.4s;
  -webkit-animation-name: animatetop;
  -webkit-animation-fill-mode: fowards;
  -webkit-animation-direction: forward;
  -moz-animation-delay: none;
  -moz-animation-duration: 0.4s;
  -moz-animation-name: animatetop;
  -moz-animation-fill-mode: fowards;
  -moz-animation-direction: forward;
  animation-delay: none;
  animation-duration: 0.4s;
  animation-name: animatetop;
  animation-fill-mode: fowards;
  animation-direction: forward; }
@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0; }
  to {
    top: 0;
    opacity: 1; } }
@-moz-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0; }
  to {
    top: 0;
    opacity: 1; } }
@-o-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0; }
  to {
    top: 0;
    opacity: 1; } }
@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0; }
  to {
    top: 0;
    opacity: 1; } }
.modal-light .modal-content {
  background-color: #F2F2F2;
  color: #000000; }
  .modal-light .modal-content .modal-header {
    background-color: #F2F2F2;
    color: #000000;
    border-bottom: 1px solid #BF0706; }
    .modal-light .modal-content .modal-header .close {
      color: #b3b3b3;
      float: right;
      font-size: 28px;
      font-weight: bold; }
      .modal-light .modal-content .modal-header .close:hover {
        color: #cccccc;
        text-decoration: none;
        cursor: pointer; }
      .modal-light .modal-content .modal-header .close:focus {
        color: #cccccc;
        text-decoration: none;
        cursor: pointer; }
  .modal-light .modal-content .modal-body {
    font-family: "Bebas Neue Book";
    font-size: 2rem;
    background-color: #F2F2F2;
    color: #000000; }
  .modal-light .modal-content .modal-footer {
    background-color: #F2F2F2;
    color: #000000; }

.card {
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  margin: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 40%;
  border-radius: 5px;
  height: 100%;
  cursor: pointer; }
  .card .card-body,
  .card .card-container {
    text-align: center;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -moz-box-direction: normal;
    -moz-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 2px 16px;
    padding: 1em; }
    .card .card-body .card-header,
    .card .card-container .card-header {
      margin: 0 auto;
      padding: 0.5em; }
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2); }

.title {
  text-align: left;
  margin-left: 10px; }

.popup {
  position: relative;
  display: inline-block;
  cursor: pointer; }
  .popup span {
    visibility: hidden;
    background-color: #BF0706;
    width: 160px;
    padding: 8px 0;
    color: #F2F2F2;
    text-align: center;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px; }
    .popup span::after {
      content: "";
      position: absolute;
      top: 100%;
      left: 50%;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: #BF0706 transparent transparent transparent; }
  .popup .show {
    visibility: visible;
    -webkit-animation-delay: 0;
    -webkit-animation-duration: 1s;
    -webkit-animation-name: fadeIn;
    -webkit-animation-fill-mode: fowards;
    -webkit-animation-direction: forward;
    -moz-animation-delay: 0;
    -moz-animation-duration: 1s;
    -moz-animation-name: fadeIn;
    -moz-animation-fill-mode: fowards;
    -moz-animation-direction: forward;
    animation-delay: 0;
    animation-duration: 1s;
    animation-name: fadeIn;
    animation-fill-mode: fowards;
    animation-direction: forward; }
@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-moz-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-o-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@media all and (max-width: 860px) {
  .card {
    width: 95%; }
    .card .card-body {
      -webkit-box-direction: normal;
      -webkit-box-orient: horizontal;
      -moz-box-direction: normal;
      -moz-box-orient: horizontal;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      text-align: center; } }
.container {
  display: flex;
  flex-direction: column;
  flex: 12;
  padding-bottom: 60px;
  position: relative;
  min-height: 100%;
  width: 90%;
  margin: 0 auto; }

.row {
  display: flex;
  flex-direction: row;
  padding: 10px 0px;
  margin: 0px;
  margin-top: 10px;
  flex: 12; }

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 1px;
  float: left;
  justify-content: center;
  align-content: center; }

.col-12 {
  flex: 12; }

.col-11 {
  flex: 11; }

.col-10 {
  flex: 10; }

.col-9 {
  flex: 9; }

.col-8 {
  flex: 8; }

.col-7 {
  flex: 7; }

.col-6 {
  flex: 6; }

.col-5 {
  flex: 5; }

.col-4 {
  flex: 4; }

.col-3 {
  flex: 3; }

.col-2 {
  flex: 2; }

.col-1 {
  flex: 1; }

@media screen and (max-width: 660px) {
  .row {
    flex-direction: column; } }
