.container {
  display: flex;
  flex-direction: column;
  flex: 12;
  padding-bottom: 60px;
  position: relative;
  min-height: 100%;
  width: 90%;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-direction: row;
  padding: 10px 0px;
  margin: 0px;
  margin-top: 10px;
  flex: 12;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 1px;
  float: left;
  justify-content: center;
  align-content: center;
}

.col-12 {
  flex: 12;
}

.col-11 {
  flex: 11;
}

.col-10 {
  flex: 10;
}

.col-9 {
  flex: 9;
}

.col-8 {
  flex: 8;
}

.col-7 {
  flex: 7;
}

.col-6 {
  flex: 6;
}

.col-5 {
  flex: 5;
}

.col-4 {
  flex: 4;
}

.col-3 {
  flex: 3;
}

.col-2 {
  flex: 2;
}

.col-1 {
  flex: 1;
}

@media screen and (max-width: 810px) {
  .row {
    flex-direction: column;
  }
}